* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(136deg, #00febb, #5b549b);
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 110vh;
}

.card {
  position: relative;
  top: 20px;
  /* height: 100vh; */
  color: #fff;
  padding: 20px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 50px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}

.weather-icon {
  width: 160px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 70px;
  font-weight: 500;
}

.weather h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
  padding-top: 10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 25px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  margin-top: 10px;
  display: none;
}

.description {
  font-size: 1.3rem;
}

/* Navbar */
.navbar {
  width: 100vw;
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 450;
  width: 100%; */
}

.current-location{
    display: inline-flex;
    gap: 10px;
    align-items: flex-end;
    font-size: 1.1rem;
}

.current-location img{
    width: 25px;
    height: 25px;
}

/* Media Query */
@media only screen and (max-width:500px){
    .navbar{
        padding: 10px 20px;
    }

    .card{
        padding: 15px 10px;
    }
    
    .weather-icon{
        width: 150px;
        height: 150px;
    }

    .weather h1 {
        font-size: 60px;
        font-weight: 400;
    }
    
    .description{
        font-size: 1.2rem;
    }

    .weather h2{
        font-size: 30px;
        font-weight: 300;
    }

    .details{
        padding: 0 15px;
    }

    .humidity, .wind {
        font-size: 20px;
    }

    .col img {
        width: 35px;
    }
}